Source: ros-testing-rqt-publisher
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-testing-ament-cmake, ros-testing-ros-workspace
Homepage: http://wiki.ros.org/rqt_publisher
Standards-Version: 3.9.2

Package: ros-testing-rqt-publisher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-catkin-pkg-modules, ros-testing-python-qt-binding (>= 0.2.19), ros-testing-qt-gui-py-common, ros-testing-rqt-gui, ros-testing-rqt-gui-py, ros-testing-rqt-py-common, ros-testing-ros-workspace
Description: rqt_publisher provides a GUI plugin for publishing arbitrary messages with fixed or computed field values.
